.banner {
    background-color: yellow; 
    color: black;              
    padding: 20px;            
    text-align: center;        
    box-shadow: 0 4px 8px black
  }

.link {
    margin: 0 10px;
}
  